body {
    width: 100%;
    margin: 0;
    position: fixed;
}

h1 {
    text-align: center;
}

.display__one {
    text-align: center;
}

footer {
    color: whitesmoke;
    background-color: darkslategray;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.horizontal li {
    display: inline;
    margin-left: 10px;
    padding: 10px;
    background-color: lightgray;
}

.horizontal li a {
    text-decoration: none;
}

.active {
    background-color: yellow !important;
}